<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitcoin GroupHub</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="mb-4">Bitcoin GroupHug <span class="badge bg-warning">Testnet</span></h2>

            {% if role is not null and message is not null %}
            <div class="col-md-12 alert alert-{{ role }}" role="alert">{{ message }}</div>
            {% endif %}

            <form method="post" action="/">
                <div class="mb-3">
                    <label for="tx" class="form-label">Submit Transaction</label>
                    <textarea class="form-control" id="tx" name="tx" rows="5" placeholder="Transaction hex"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Full Send</button>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 offset-md-3">
            <h4>Requirements:</h4>
            <ul>
                <li>Final, broadcastable transaction</li>
                <li>Only 1 input 1 output</li>
                <li>Absolute Locktime 0</li>
                <li>SigHash: Single + Anyone Can Pay</li>
                <li>Version 2</li>
            </ul>
            <p>Recommended software: <a href="https://sparrowwallet.com/">Sparrow Wallet</a></p>
        </div>
    </div>
</div>

</body>
</html>
